body {
    font-size: 16px;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    border: 1px solid gray;
    padding: 0.25em;
    width: 9em;
}

th {
    color: white;
    background-color: #0ad814;
}

tr:nth-child(2n) {
    background-color: lightgray;
}

.DE {
    background: url("Flags/de.png") no-repeat 0.2em 0.45em;
    padding-left: 1.5em;
}

.MX {
    background: url("Flags/mx.png") no-repeat 0.2em 0.45em;
    padding-left: 1.5em;
}


.GB {
    background: url("Flags/gb.png") no-repeat 0.2em 0.45em;
    padding-left: 1.5em;
}
