ul {
    list-style-type: none;
}

    ul li ul li {
        display: none;
    }

    ul li:hover li {
        display: block;
        color: gray;
        margin-left: -2em;
    }

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
