canvas {
    float: left;
    margin-right: 20px;
    border: 1px solid black;
}

table {
    width: 250px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}
